form(method="POST",action="/report")
  input(type="hidden",name="_method",value="PUT")
  p Age 
    input(type="number",name="name")
  p Sex
    input(type="text",name="sex")
  p 
    input(type="submit")
