extends layout

block content
    h1 Welcome to #{title}
    p This is your balance: #{balance}
    form(method="post")
        div.input
            span.label Age
            input(type="text", name="age")
        div.input
            span.label Gender
            input(type="text", name="gender")
        div.input
            span.label City
            input(type="text", name="city")
        div.input
            span.label State
            input(type="text", name="state")
        div.input
            span.label Temperature
            input(type="text", name="temperature")
        div.input
            span.label Dry cough
            input(type="checkbox", name="dryCough")
        div.input
            span.label Shortness of breath
            input(type="checkbox", name="breath")
        div.input
            span.label Confirmed
            input(type="checkbox", name="confirmed")
        div.input
            span.label Quarantined
            input(type="checkbox", name="quarantined")
        div.actions
            input(type="submit", value="add")
